/* cabeçalho */
body{
    overflow: hidden;
}

.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.logo {
    width: 168px;
    height: 37px;
    float: left;
    background: url(/public/logo.png) center center/168px no-repeat;
    font-size: 0;
}
